@model int

<div class="input-group mb-3" id="field-row-@Model">
    <input type="text" name="Fields[@Model].Label" class="form-control" placeholder="Enter Field Label" required>
    <div class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" name="Fields[@Model].IsRequired" value="true">
        <label class="ms-2 small text-muted">Required</label>
    </div>
    <button class="btn btn-outline-danger remove-btn" type="button" data-row-id="field-row-@Model">
        <i class="bi bi-x-lg"></i>
    </button>
</div>